<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="WARN" />
    <appender-ref ref="WarnFileAppender" />
    <level value="ERROR" />
    <appender-ref ref="ErrorFileAppender" />
    <level value="INFO" />
    <appender-ref ref="InfoFileAppender" />
    <level value="TRACE" />
    <appender-ref ref="DebugFileAppender" />
  </root>

  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d][%-5p] %m%n" />
    </layout>
  </appender>

  <appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Warnings.Log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%logger: %-5level %date{yyyy-MM-dd HH:mm:ss} - %message%newline %newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="WARN"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Errors.Log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%logger: %-5level %date{yyyy-MM-dd HH:mm:ss} - %message%newline %newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/INFO.Log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%logger: %-5level %date{yyyy-MM-dd HH:mm:ss} - %message%newline %newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>


  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Debug.Log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%logger: %-5level %date{yyyy-MM-dd HH:mm:ss} - %message%newline %newline" />
    </layout>
  </appender>
</log4net>